---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
hide_title: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% for pub_category in site.publication_category %}
  {% assign category_posts = site.publications | where: "pub_category", pub_category[0] %}
  {% if category_posts.size > 0 %}
    <h1>{{ pub_category[1].title }}</h1>
    <div class="publication-category">
    {% for post in category_posts reversed %}
      {% include archive-single.html %}
    {% endfor %}
    </div>
  {% endif %}
{% endfor %}
